<section class="first" id="team-profile">
  <div class="container">
    <div class="row">
      <h5 class="u-pull-left">Profile</h5>
    </div>
    <div class="row">
      <%= render(@team) %>
      <div class="eight columns">
        <div class="twelve columns">
          <div class="row">
            <h5 class="u-pull-left">Team info</h5>
          </div>
          <div class="row">
            <div class="four columns">
              <div class="row">
                <p><strong>Name</strong></p>
              </div>
              <div class="row">
                <p><%= @team.name %></p>
              </div>
            </div>
            <div class="four columns">
              <div class="row">
                <p><strong>Gender</strong></p>
              </div>
              <div class="row">
                <p><%= @team.gender %></p>
              </div>
            </div>
            <div class="four columns">
              <div class="row">
                <p><strong>Age</strong></p>
              </div>
              <div class="row">
                <p><%= @team.average_age %></p>
              </div>
            </div>
          </div>
          <!-- Copy invite link -->
          <div class="row">
            <h5 class="u-pull-left">Invite link</h5>
          </div>
          <div class="row">
            <div class="ten columns">
              <input class="input u-full-width" value="http://amaccer.com/team/enccer" id="data-copy-link" disabled>
            </div>
            <div class="two columns copy">
              <button class="button copy button-primary" id="copy-link">
                <%= image_tag("link.png", class: "link") %>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<section id="applicants">
  <div class="container">
    <div class="row">
      <h5 class="u-pull-left">Applicants</h5>
    </div>
    <div class="row">
      <label class="u-pull-left u-mb-10">List of applicants</label>
    </div>
    <% @user_infos.each do |i| %>
      <div class="row u-mb-10">
        <div class="three columns">
          <span><%= i.phone %></span>
        </div>
        <div class="two columns">
          <span><%= i.student_code %></span>
        </div>
        <div class="two columns">
          <span><%= i.user.age %></span>
        </div>
        <div class="two columns">
          <span><%= i.user.name %></span>
        </div>
        <div class="three columns">
          Approve Delete
          <!-- <%= link_to user_info_path(i), method: :delete, data: { confirm: 'Are you sure?'} do %>
            Delete
          <% end %> -->
        </div>
      </div>
    <% end %>
  </div>
</section>
<section id="notices">
  <div class="container">
    <div class="row">
      <h5 class="u-pull-left">Notices</h5>
    </div>
    <div class="row">
    </div>
  </div>
</section>