<section class="first">
  <div class="container">

    <div class="four columns offset-by-four">
      <%= render partial: "users/nav" %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: "email@example.com", class: "input u-full-width" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: "password", class: "input u-full-width" %>
        </div>

        <div class="actions">
          <%= f.submit "Log in", class: "button u-full-width" %>
        </div>
      <% end %>
    </div>
  </div>
</section>