<section class="first" id="cup-profile">
  <div class="container">
    <%= render partial: 'navbar' %>

    <!-- Actual Content -->
    <div class="row">
      <h5 class="u-pull-left">가입 링크</h5>
    </div>
    <div class="row">
      <div class="ten columns">
        <%= content_tag(:input,"", value: "http://amaccer.com/cups/#{@cup.cup_url}" , class: "input u-full-width", id: "data-copy-link", disabled: true) %>
      </div>
      <div class="two columns copy">
        <button class="button copy button-primary" id="copy-link">
          <%= image_tag("link.png", class: "link") %>
        </button>
      </div>
    </div>
    <div class="row u-mt-10">
      <h5 class="u-pull-left u-mb-10">컵 정보</h5>
    </div>
    <div class="row u-mb-20">
      <ul class="horizontal">
        <li class="four">
          <label>참가 팀/최대 팀</label>
          <p><%= @cup.teams.count %> / <%= @cup.max_team %></p>
        </li>
        <li class="four">
          <label>진행 방식</label>
          <p><% if @cup.has_league %>리그<% end %><% if @cup.has_tournament %> 토너먼트<% end %></p>
        </li>
      </ul>
    </div>
    <% if current_user %>
      <% if current_user.captains.any? %>
        <div class="row">
          <h5 class="u-pull-left">가입 신청</h5>
        </div>
        <div class="row">
          <ul class="horizontal">
            <li class="four">
              <p>팀명</p>
            </li>
            <li class="four">
              <p>회원 수</p>
            </li>
          </ul>
        </div>
        <% @user_applying_teams.each do |team| %>
          <div class="row">
            <ul class="horizontal">
              <li class="four align-h">
                <p><%= team.name %></p>
              </li>
              <li class="four align-h">
                <p><%= team.users_count %></p>
              </li>
              <li class="four align-h">
                <%= link_to( { action: "destroy", controller: "team_applicants", id: @cup.team_applicants.where(team_id: team.id).take.id }, { method: :delete } ) do %>
                  <input type="button" class="button button-danger u-full-width" value="취소하기" id="applicant-cancel">
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
        <% (@captain_teams-@applying_teams-@cup.teams).each do |team| %>
          <%= form_for @new_team_applicant, url: { controller: "cups", action: "join" } do |f| %>
            <div class="row">
              <ul class="horizontal">
                <li class="four align-h">
                  <p><%= team.name %></p>
                </li>
                <li class="four align-h">
                  <p><%= team.users_count %></p>
                </li>
                <li class="four align-h">
                  <%= f.number_field :team_id, value: team.id,  hidden: true %>
                  <%= f.submit "대회 신청", class: "u-mt-10 button button-primary button-small u-full-width" %>
                </li>
              </ul>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</section>