<div class="row bottom-hr u-mt-20">
  <%= link_to({ controller: 'groups', action: 'show', id: group.id }) do %>
    <h5 class="u-pull-left"><%= group.name %></h5>
  <% end %>
</div>
<div class="row">
  <ul class="horizontal">
    <li class="four align-h">팀</li>
    <li class="one align-h">승</li>
    <li class="one align-h">무</li>
    <li class="one align-h">패</li>
    <li class="two align-h">득실</li>
    <li class="three align-h">승점</li>
  </ul>
</div>
<% group.team_rows.each do |t| %>
  <div class="row">
    <ul class="horizontal">
      <li class="four align-h"><%= t.team.name %></li>
      <li class="one align-h"><%= t.win %></li>
      <li class="one align-h"><%= t.draw %></li>
      <li class="one align-h"><%= t.lose %></li>
      <li class="two align-h"><%= t.goal_difference %></li>
      <li class="three align-h"><%= t.points %></li>
    </ul>
  </div>
<% end %>