<section id="teams" class="first">
  <div class="container u-p-30">
    <div class="row icon-title">
      <%= image_tag('team_icon.png', class: "icon", alt: "team icon") %>
      <span class="title">Teams</span>
    </div>
    <div class="row">
      <div class="six columns">
        <%= link_to(new_team_path) do %>
          <button class="button button-frame button-orange u-full-width">
            <ul class="horizontal">
              <li class="three">
                <%= image_tag('team_create_icon.png', class: "icon", alt: "create team icon") %>
              </li>
              <li class="nine">
                <p>지금 새로운 팀을 만들어보세요</p>
                <p>팀 만들기</p>
              </li>
            </ul>
          </button>
        <% end %>
      </div>
      <div class="six columns">
        <button class="button button-frame button-red u-full-width">
          <ul class="horizontal">
            <li class="three">
              <%= image_tag('search_icon.png', class: "icon", alt: "search icon") %>
            </li>
            <li class="nine">
              <p>가입할 팀을 검색해보세요</p>
              <p>팀 검색</p>
            </li>
          </ul>
        </button>
      </div>
    </div>
    <% (@teams - current_user.teams).each do |t| %>
      <div class="row">
        <ul class="horizontal">
          <li class="three">
            <%= link_to(controller: "teams", action: "show", team_url: t.team_url) do %>
              <p><%= t.name %></p>
            <% end %>
          </li>
          <li class="nine">
            <p>주장 정보를 입력해주세요</p>
          </li>
        </ul>
      </div>
    <% end %>
    <% current_user.user_infos.each do |i| %>
      <div class="row">
        <%= render(i.team) %>
      </div>
    <% end %>
  </div>
</section>
<section id="cups">
  <div class="container u-p-30">
    <div class="row icon-title">
      <%= image_tag('cup_icon.png', class: "icon", alt: "cup icon") %>
      <span class="title">Cups</span>
    </div>
    <div class="row">
      <div class="six columns">
        <%= link_to(new_cup_path) do %>
          <button class="button button-frame button-orange u-full-width">
            <ul class="horizontal">
              <li class="three">
                <%= image_tag('cup_create_icon.png', class: "icon", alt: "create cup icon") %>
              </li>
              <li class="nine">
                <p>직접 대회를 개최하세요</p>
                <p>대회 만들기</p>
              </li>
            </ul>
          </button>
        <% end %>
      </div>
      <div class="six columns">
        <button class="button button-frame button-red u-full-width">
          <ul class="horizontal">
            <li class="three">
              <%= image_tag('search_icon.png', class: "icon", alt: "search icon") %>
            </li>
            <li class="nine">
              <p>참가할 대회를 검색하세요</p>
              <p>대회 검색</p>
            </li>
          </ul>
        </button>
      </div>
    </div>
    <div class="row">
      <%= render(current_user.all_cups) %>
    </div>
  </div>
</section>
