<section id="teams" class="first">
  <div class="container u-p-30">
    <div class="row">
      <h5 class="u-pull-left">팀</h5>
    </div>
    <div class="row u-mb-10">
      <p class="u-pull-left">가입 링크를 받거나 새로운 팀을 생성하세요</p>
    </div>
    <% if current_user.user_infos.any? %>
      <div class="row">
        <ul class="horizontal">
          <li class="three">
            <p>팀</p>
          </li>
          <li class="three">
            <p>전화번호</p>
          </li>
          <li class="three">
            <p>학번</p>
          </li>
          <li class="three">
            <p>직업</p>
          </li>
        </ul>
      </div>
    <% end %>
    <% (@teams - current_user.teams).each do |t| %>
      <div class="row">
        <ul class="horizontal">
          <li class="three">
            <%= link_to(controller: "teams", action: "show", team_url: t.team_url) do %>
              <p><%= t.name %></p>
            <% end %>
          </li>
          <li class="nine">
            <p>주장 정보를 입력해주세요</p>
          </li>
        </ul>
      </div>
    <% end %>
    <% current_user.user_infos.each do |i| %>
      <div class="row">
        <ul class="horizontal">
          <li class="three">
            <%= link_to(controller: "teams", action: "show", team_url: i.team.team_url) do %>
              <p><%= i.team.name %></p>
            <% end %>
          </li>
          <li class="three">
            <p><%= i.phone %></p>
          </li>
          <li class="three">
            <p><%= i.student_code %></p>
          </li>
          <li class="three">
            <p><%= i.career %></p>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="twelve column">
          <%= link_to i, method: :delete, data: { confirm: '팀에서 탈퇴하시겠습니까?'} do %>
            <input type="button" class="button button-danger u-full-width" value="탈퇴">
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="row u-mt-10 new-team">
      <p>새로운 팀을 생성하세요</p>
      <div class="twelve columns">
        <%= link_to(new_team_path) do %>
          <%= button_tag("팀 생성", {type: 'button', class: 'u-full-width button button-small'} ) %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<section id="cups">
  <div class="container u-p-30">
    <div class="row">
      <h5 class="u-pull-left">대회</h5>
    </div>
    <div class="row u-mb-10">
      <p class="u-pull-left">대회를 개최하거나 주장으로서 참가를 신청하세요.</p>
    </div>
    <div class="row">
      <%= render(current_user.all_cups) %>
      <!-- Always at the last of cups -->
      <div class="four columns team-holder empty">
        <p>Create new</p>
        <div class="row">
          <div class="eight columns offset-by-two">
            <%= link_to(new_cup_path) do %>
              <%= button_tag("create", {type: 'button', class: 'u-full-width button button-small'} ) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>