<div class="row match-row">
  <%= link_to match, class: "match-row" do %>
  <p class="match-description"><%= match.description %></p>
    <ul class="horizontal match-row">
        <li class="four align-h">
          <p><%= match.home_team.name %></p>
        </li>
        <li class="four" id="match-date-holder">
          <p class="hidden match-date" id="match-date"><%= match.date.to_s %></p>
          <div class="row">
            <p class="focus match-date-string"></p>
          </div>
          <div class="row">
            <p class="focus match-time-string"></p>
          </div>
        </li>
        <li class="four align-h">
          <p><%= match.away_team.name %></p>
        </li>
    </ul>
  <% end %>
</div>