<section class="first">
  <div class="container">
    <div class="row u-mb-20">
      <h5><%= @match.description %></h5>
      <%= link_to schedule_cup_path(cup_url: @cup.cup_url) do %>
        <p><%= @cup.name %></p>
      <% end %>
    </div>
    <div class="row">
      <ul class="horizontal">
        <li class="four">
          <h5><%= @match.home_team.name %></h5>
        </li>
        <li class="four">
          <h5 class="focus">VS</h5>
        </li>
        <li class="four">
          <h5><%= @match.away_team.name %></h5>
        </li>
      </ul>
    </div>

    <!-- where team scores come in -->
    <div class="row bottom-hr">
      <ul class="horizontal">
        <li class="four">
          <h5><%= @match.home_goal %></h5>
        </li>
        <li class="four" id="match-clock">
          <%= content_tag(:span, @match.status_s[@match.statuses.index(@match.status)], class: "focus", value: @match.started_at, status: @match.status ) %>
          <span class="focus" id="passed-time"></span>
        </li>
        <li class="four">
          <h5><%= @match.away_goal %></h5>
        </li>
      </ul>
    </div>

    <!-- match status panel -->
    <% if @referees.map{ |r| r.organizer }.include? current_user.organizers.where(cup_id: @cup.id).take %>
      <div class="row u-mt-10">
        <div class="eight columns offset-by-two">
          <%= link_to({ action: "status" },{ method: :post, data: { confirm: "경기를 진행하시겠습니까?"} }) do %>
            <% if not @match.started? %>
              <input type="button" class="button button-primary u-full-width" value="경기 시작">
              <p>선발 선수들을 검인한 후 경기를 시작해주세요</p>
            <% elsif @match.status == "1" %>
              <input type="button" class="button button-danger u-full-width" value="전반 종료">
              <p>전반전이 끝나면 눌러주세요</p>
            <% elsif @match.status == "half" %>
              <input type="button" class="button button-primary u-full-width" value="후반 시작">
              <p>하프타임 교체를 받은 후 후반전을 시작해주세요. 다음 경기 검인도 잊지마세요</p>
            <% elsif @match.status == "2" %>
              <input type="button" class="button button-danger u-full-width" value="후반 종료">
              <p>후반전이 끝나면 눌러주세요</p>
            <% elsif @match.status == "interval" %>
              <input type="button" class="button button-primary u-full-width" value="연장 시작">
            <% elsif @match.status == "3" %>
              <input type="button" class="button button-danger u-full-width" value="전반 종료">
            <% elsif @match.status == "extrahalf" %>
              <input type="button" class="button button-primary u-full-width" value="후반 시작">
            <% elsif @match.status == "4" %>
              <input type="button" class="button button-danger u-full-width" value="후반 종료">
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <!-- match events -->
    <% @events.each do |e| %>
    <div class="row u-mt-10 u-mb-10 match-record">
      <ul class="horizontal">
        <li class="four align-h">
          <% if e.user.all_teams.include? @match.home_team %>
            <p><%= e.user.name %></p>
          <% end %>
        </li>
        <li class="four">
          <p><%= e.event_type %></p>
          <p><%= e.time_s %></p>
        </li>
        <li class="four align-h">
          <% if e.user.all_teams.include? @match.away_team %>
            <p><%= e.user.name %></p>
          <% end %>
        </li>
      </ul>
    </div>
    <% end %>

    <!-- match recording -->
    <% if @referees.map{ |r| r.organizer }.include? current_user.organizers.where(cup_id: @cup.id).take %>
      <div class="row" id="lineup">
        <div class="six columns" id="home-team">
          <div class="row u-mb-10">
            <p><%= @match.home_team.name %></p>
          </div>
          <% @players.each do |p| %>
            <% if p.all_teams.include? @match.home_team %>
            <div class="row">
              <ul class="horizontal">
                <li class="three"><p><%= p.name %></p></li>
                <%= form_for @event, url: { action: "record", anchor: "home-team" } do |f| %>
                  <%= f.number_field(:user_id, value: p.id, hidden: true) %>
                  <%= f.text_field(:when, id: "event-when" ,hidden: true) %>
                  <%= f.number_field(:time, id: "event-time" ,hidden: true) %>
                  <li class="six">
                    <%= f.select(:event_type, @event.types, {}, {class: "u-full-width"}) %>
                  </li>
                  <li class="three focus">
                    <%= f.submit "기록", class: "button small u-full-width" %>
                  </li>
                <% end %>
              </ul>
            </div>
            <% end %>
          <% end %>
        </div>
        <div class="six columns" id="away-team">
          <div class="row u-mb-10">
            <p><%= @match.away_team.name %></p>
          </div>
          <% @players.each do |p| %>
            <% if p.all_teams.include? @match.away_team %>
            <div class="row">
              <ul class="horizontal">
                <li class="three"><p><%= p.name %></p></li>
                <%= form_for @event, url: { action: "record", anchor: "away-team" } do |f| %>
                  <%= f.number_field(:user_id, value: p.id, hidden: true) %>
                  <%= f.text_field(:when, id: "event-when" ,hidden: true) %>
                  <%= f.number_field(:time, id: "event-time" ,hidden: true) %>
                  <li class="six">
                    <%= f.select(:event_type, @event.types, {}, {class: "u-full-width"}) %>
                  </li>
                  <li class="three focus">
                    <%= f.submit "기록", class: "button small u-full-width" %>
                  </li>
                <% end %>
              </ul>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <!-- full team members -->
    <div class="row u-mt-10">
      <div class="six columns" id="home-team-members">
        <div class="row u-mb-10">
          <p><%= @match.home_team.name %></p>
        </div>
        <% @match.home_team.members.each do |m| %>
          <% if @players.exclude? m.user %>
          <div class="row">
              <ul class="horizontal">
                <li class="three">
                  <p><%= m.user.name %></p>
                </li>
                <li class="six">
                  <p><%= m.student_code %></p>
                </li>
                <li class="three">
                  <%= link_to({ controller: "matches", action: "player", user_id: m.user.id }, { class: "add-player" }) do %>
                    <input type="button" class="u-full-width button small" value="검인">
                  <% end %>
                </li>
              </ul>
          </div>
          <% end %>
        <% end %>
      </div>
      <div class="six columns" id="away-team-members">
        <div class="row u-mb-10">
          <p><%= @match.away_team.name %></p>
        </div>
        <% @match.away_team.members.each do |m| %>
          <% if @players.exclude? m.user %>
            <div class="row">
              <ul class="horizontal">
                <li class="three">
                  <p><%= m.user.name %></p>
                </li>
                <li class="six">
                  <p><%= m.student_code %></p>
                </li>
                <li class="three">
                  <%= link_to({ controller: "matches", action: "player", user_id: m.user.id }, { class: "add-player" }) do %>
                    <input type="button" class="u-full-width button small" value="검인">
                  <% end %>
                </li>
              </ul>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <!-- adding referees -->
    <% if @cup.organizers.map{ |o| o.user }.include? current_user %>
      <% if @referees.any? %>
        <% @referees.each do |ref| %>
          <div class="row">
            <ul class="horizontal">
              <li class="three">
                <p><%= ref.organizer.user.name %></p>
              </li>
              <li class="nine">
                <p><%= ref.organizer.user.email %></p>
              </li>
            </ul>
          </div>
        <% end %>
      <% end %>
      <%= form_for @referees.new, url: { controller: 'matches', action: 'referee'} do |f| %>
        <div class="row bottom-hr">
          <div class="four columns">
            <label class="focus">심판 추가</label>
          </div>
          <div class="four columns">
            <select class="u-full-width" name="referee[organizer_id]">
              <% @cup.organizers.each do |o| %>
                <%= content_tag("option", value: o.id) do %>
                  <%= o.user.name %>
                <% end %>
              <% end %>
            </select>
          </div>
          <div class="four columns">
            <%= f.submit "추가하기", class: "button button-small small u-full-width" %>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</section>

<% if @cup.organizers.map{ |o| o.user }.include? current_user %>
  <section id="controller">
    <div class="container u-p-0">
      <div class="row">
        <div class="eight columns offset-by-two">
          <%= link_to @match, method: :delete, data: { confirm: "정말로 삭제하시겠습니까?" } do %>
            <input type="button" class="button button-danger u-full-width" value="삭제하기" id="delete-match">
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% end %>