<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>아마추어 축구대회 관리 서비스</title>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <a class="navbar-link" href="#" id="logo">HOME</a>
      <a class="navbar-link" target="_blank" href="http://enccer.com">Enccer</a>
      <% if current_user %> 
        <%= link_to "log out", destroy_user_session_path, class: "navbar-link u-pull-right", method: :delete, data: { confirm: "Sure to Log Out?"} %>
      <% else %>
        <%= link_to "log in", new_user_session_path, class: "navbar-link u-pull-right" %>
      <% end %>
      
    </div>
  </nav>

  <%= yield %>

</body>
</html>
